[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Stefan Bürk (sbuerk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Stefan Bürk (sbuerk)
	label-Verified = -1..+1 group user/Stefan Bürk (sbuerk)
	push = group user/Stefan Bürk (sbuerk)
	read = group user/Stefan Bürk (sbuerk)
	rebase = group user/Stefan Bürk (sbuerk)
	removeReviewer = group user/Stefan Bürk (sbuerk)
	submit = group user/Stefan Bürk (sbuerk)
[access "refs/heads/*"]
	create = group user/Stefan Bürk (sbuerk)
	push = +force group user/Stefan Bürk (sbuerk)
	pushMerge = group user/Stefan Bürk (sbuerk)
	read = group user/Stefan Bürk (sbuerk)
[access "refs/tags/*"]
	push = group user/Stefan Bürk (sbuerk)
	push = +force group user/Stefan Bürk (sbuerk)
[receive]
	requireChangeId = true
